# MONGODB_URI_LOCAL=mongodb://127.0.0.1:27017/dzuels
MONGODB_URI_LOCAL=mongodb://127.0.0.1:27017/dzuelsDB
MONGODB_URI_LOCAL_COHORT=mongodb://127.0.0.1:27017/dbCohort
TESTING=
MONGODB_URI=

BASEURL=
LOCALURL=http://localhost:3000/api

JWT_SECRET=

USERNAME=
PASSWORD=*******
NEXT_ENV=development

NEXT_PUBLIC_SECRET=
NEXTAUTH_SECRET=


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=